# Springboard Data Science Career Track Unit 4 Challenge - Tier 3 Complete

## Objectives
Hey! Great job getting through those challenging DataCamp courses. You're learning a lot in a short span of time. 

In this notebook, you're going to apply the skills you've been learning, bridging the gap between the controlled environment of DataCamp and the *slightly* messier work that data scientists do with actual datasets!

Here’s the mystery we’re going to solve: ***which boroughs of London have seen the greatest increase in housing prices, on average, over the last two decades?***


A borough is just a fancy word for district. You may be familiar with the five boroughs of New York… well, there are 32 boroughs within Greater London [(here's some info for the curious)](https://en.wikipedia.org/wiki/London_boroughs). Some of them are more desirable areas to live in, and the data will reflect that with a greater rise in housing prices.

***This is the Tier 3 notebook, which means it's not filled in at all: we'll just give you the skeleton of a project, the brief and the data. It's up to you to play around with it and see what you can find out! Good luck! If you struggle, feel free to look at easier tiers for help; but try to dip in and out of them, as the more independent work you do, the better it is for your learning!***

This challenge will make use of only what you learned in the following DataCamp courses: 
- Prework courses (Introduction to Python for Data Science, Intermediate Python for Data Science)
- Data Types for Data Science
- Python Data Science Toolbox (Part One) 
- pandas Foundations
- Manipulating DataFrames with pandas
- Merging DataFrames with pandas

Of the tools, techniques and concepts in the above DataCamp courses, this challenge should require the application of the following: 
- **pandas**
    - **data ingestion and inspection** (pandas Foundations, Module One) 
    - **exploratory data analysis** (pandas Foundations, Module Two)
    - **tidying and cleaning** (Manipulating DataFrames with pandas, Module Three) 
    - **transforming DataFrames** (Manipulating DataFrames with pandas, Module One)
    - **subsetting DataFrames with lists** (Manipulating DataFrames with pandas, Module One) 
    - **filtering DataFrames** (Manipulating DataFrames with pandas, Module One) 
    - **grouping data** (Manipulating DataFrames with pandas, Module Four) 
    - **melting data** (Manipulating DataFrames with pandas, Module Three) 
    - **advanced indexing** (Manipulating DataFrames with pandas, Module Four) 
- **matplotlib** (Intermediate Python for Data Science, Module One)
- **fundamental data types** (Data Types for Data Science, Module One) 
- **dictionaries** (Intermediate Python for Data Science, Module Two)
- **handling dates and times** (Data Types for Data Science, Module Four)
- **function definition** (Python Data Science Toolbox - Part One, Module One)
- **default arguments, variable length, and scope** (Python Data Science Toolbox - Part One, Module Two) 
- **lambda functions and error handling** (Python Data Science Toolbox - Part One, Module Four)

## The Data Science Pipeline

This is Tier Three, so we'll get you started. But after that, it's all in your hands! When you feel done with your investigations, look back over what you've accomplished, and prepare a quick presentation of your findings for the next mentor meeting. 

Data Science is magical. In this case study, you'll get to apply some complex machine learning algorithms. But as  [David Spiegelhalter](https://www.youtube.com/watch?v=oUs1uvsz0Ok) reminds us, there is no substitute for simply **taking a really, really good look at the data.** Sometimes, this is all we need to answer our question.

Data Science projects generally adhere to the four stages of Data Science Pipeline:
1. Sourcing and loading 
2. Cleaning, transforming, and visualizing 
3. Modeling 
4. Evaluating and concluding

### 1. Sourcing and Loading 

Any Data Science project kicks off by importing  ***pandas***. The documentation of this wonderful library can be found [here](https://pandas.pydata.org/). As you've seen, pandas is conveniently connected to the [Numpy](http://www.numpy.org/) and [Matplotlib](https://matplotlib.org/) libraries. 

***Hint:*** This part of the data science pipeline will test those skills you acquired in the pandas Foundations course, Module One.

#### 1.1. Importing Libraries

In [1]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib as plt

#### 1.2.  Loading the data
Your data comes from the [London Datastore](https://data.london.gov.uk/): a free, open-source data-sharing portal for London-oriented datasets.

In [2]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

### 2. Cleaning, transforming, and visualizing
This second stage is arguably the most important part of any Data Science project. The first thing to do is take a proper look at the data. Cleaning forms the majority of this stage, and can be done both before or after Transformation.

The end goal of data cleaning is to have tidy data. When data is tidy: 

1. Each variable has a column.
2. Each observation forms a row.

Keep the end goal in mind as you move through this process, every step will take you closer. 



***Hint:*** This part of the data science pipeline should test those skills you acquired in: 
- Intermediate Python for data science, all modules.
- pandas Foundations, all modules. 
- Manipulating DataFrames with pandas, all modules.
- Data Types for Data Science, Module Four.
- Python Data Science Toolbox - Part One, all modules

**2.1. Exploring your data** 

Think about your pandas functions for checking out a dataframe.

In [3]:
properties.shape

(313, 49)

In [4]:
properties.head()

,Unnamed: 0,City of London,Barking & Dagenham,Barnet,Bexley,Brent,Bromley,Camden,Croydon,Ealing,...,NORTH WEST,YORKS & THE HUMBER,EAST MIDLANDS,WEST MIDLANDS,EAST OF ENGLAND,LONDON,SOUTH EAST,SOUTH WEST,Unnamed: 47,England
0,NaT,E09000001,E09000002,E09000003,E09000004,E09000005,E09000006,E09000007,E09000008,E09000009,...,E12000002,E12000003,E12000004,E12000005,E12000006,E12000007,E12000008,E12000009,NaN,E92000001
1,1995-01-01,91449,50460.2,93284.5,64958.1,71306.6,81671.5,120933,69158.2,79885.9,...,43958.5,44803.4,45544.5,48527.5,56701.6,74435.8,64018.9,54705.2,NaN,53202.8
2,1995-02-01,82202.8,51085.8,93190.2,64787.9,72022.3,81657.6,119509,68951.1,80897.1,...,43925.4,44528.8,46051.6,49341.3,56593.6,72777.9,63715,54356.1,NaN,53096.2
3,1995-03-01,79120.7,51269,92247.5,64367.5,72015.8,81449.3,120282,68712.4,81379.9,...,44434.9,45200.5,45383.8,49442.2,56171.2,73896.8,64113.6,53583.1,NaN,53201.3
4,1995-04-01,77101.2,53133.5,90762.9,64277.7,72965.6,81124.4,120098,68610,82188.9,...,44267.8,45614.3,46124.2,49455.9,56567.9,74455.3,64623.2,54786,NaN,53590.9

**2.2. Cleaning the data**

You might find you need to transpose your dataframe, check out what its row indexes are, and reset the index. You  also might find you need to assign the values of the first row to your column headings  . (Hint: recall the .columns feature of DataFrames, as well as the iloc[] method).

Don't be afraid to use StackOverflow for help  with this.

In [5]:
properties_T = properties.transpose()

In [6]:
properties_T.index

Index(['Unnamed: 0', 'City of London', 'Barking & Dagenham', 'Barnet',
       'Bexley', 'Brent', 'Bromley', 'Camden', 'Croydon', 'Ealing', 'Enfield',
       'Greenwich', 'Hackney', 'Hammersmith & Fulham', 'Haringey', 'Harrow',
       'Havering', 'Hillingdon', 'Hounslow', 'Islington',
       'Kensington & Chelsea', 'Kingston upon Thames', 'Lambeth', 'Lewisham',
       'Merton', 'Newham', 'Redbridge', 'Richmond upon Thames', 'Southwark',
       'Sutton', 'Tower Hamlets', 'Waltham Forest', 'Wandsworth',
       'Westminster', 'Unnamed: 34', 'Inner London', 'Outer London',
       'Unnamed: 37', 'NORTH EAST', 'NORTH WEST', 'YORKS & THE HUMBER',
       'EAST MIDLANDS', 'WEST MIDLANDS', 'EAST OF ENGLAND', 'LONDON',
       'SOUTH EAST', 'SOUTH WEST', 'Unnamed: 47', 'England'],
      dtype='object')

In [7]:
properties_T.reset_index()

,index,0,1,2,3,4,5,6,7,8,...,303,304,305,306,307,308,309,310,311,312
0,Unnamed: 0,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,...,2020-03-01 00:00:00,2020-04-01 00:00:00,2020-05-01 00:00:00,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00
1,City of London,E09000001,91449,82202.8,79120.7,77101.2,84409.1,94900.5,110128,112329,...,836241,920444,918209,882872,786627,798227,774654,813356,788715,784006
2,Barking & Dagenham,E09000002,50460.2,51085.8,51269,53133.5,53042.2,53700.3,52113.1,52232.2,...,301413,293603,293816,300526,304556,304336,302165,305197,306987,317947
3,Barnet,E09000003,93284.5,93190.2,92247.5,90762.9,90258,90107.2,91441.2,92361.3,...,522115,526689,526033,518175,523280,527952,536177,534081,535055,534719
4,Bexley,E09000004,64958.1,64787.9,64367.5,64277.7,63997.1,64252.3,63722.7,64432.6,...,339182,341553,339353,340893,344091,346997,345829,346656,350585,354466
5,Brent,E09000005,71306.6,72022.3,72015.8,72965.6,73704,74310.5,74127,73547,...,466250,470601,482808,484160,482303,493930,519117,523644,517569,496316
6,Bromley,E09000006,81671.5,81657.6,81449.3,81124.4,81542.6,82382.8,82898.5,82054.4,...,432310,433426,425300,425444,428557,434772,437819,444315,455142,460361
7,Camden,E09000007,120933,119509,120282,120098,119929,121887,124028,125530,...,854443,862077,855338,837719,807904,821008,831949,831262,837089,803908
8,Croydon,E09000008,69158.2,68951.1,68712.4,68610,68844.9,69052.5,69142.5,68993.4,...,371007,370032,373805,372414,377278,374219,377411,378109,381069,383293
9,Ealing,E09000009,79885.9,80897.1,81379.9,82188.9,82077.1,81630.7,82352.2,82706.7,...,480330,480314,473283,463424,466117,480947,491026,495809,507206,501051
10,Enfield,E09000010,72514.7,73155.2,72190.4,71442.9,70630.8,71348.3,71837.5,72237.9,...,392339,395240,391460,385347,386065,395742,399368,406920,405551,415126
11,Greenwich,E09000011,62300.1,60993.3,61377.8,61927.7,63513,64751.6,65486.3,65076.4,...,394446,395917,392507,387218,386101,388910,402502,405525,410901,407938
12,Hackney,E09000012,61296.5,63187.1,63593.3,65139.6,66194,66921.2,68390.8,68096.8,...,578130,579285,576964,571464,584128,581649,607335,594457,598970,623031
13,Hammersmith & Fulham,E09000013,124903,122088,120636,121425,124434,126175,124382,123625,...,717721,698951,680111,718768,748437,754010,741998,724627,740179,717300
14,Haringey,E09000014,76287.6,78901.2,78521.9,79545.6,79374,79956.4,80746.3,81217.7,...,543929,544722,549865,546376,547778,567755,572724,589123,584696,568561
15,Harrow,E09000015,84769.5,83396.1,83416.2,83567.9,83853.7,84173.2,84226.7,84430.6,...,450484,451482,445417,441942,445805,453380,457262,461770,468583,472369
16,Havering,E09000016,68000.1,69393.5,69368,69444.3,68534.5,68464.6,68680.8,69023.4,...,365418,369485,367940,371148,373192,374436,372917,372006,376315,382490
17,Hillingdon,E09000017,73834.8,75031.1,74188.7,73911.4,73117.1,74005,74671.1,74967.9,...,409234,403517,407142,403039,408573,409842,412594,418393,421247,419504
18,Hounslow,E09000018,72231.7,71051.6,72098,71890.3,72877.5,72331.1,73717.8,74479.9,...,409444,401334,396578,394693,394813,409150,417450,421789,426169,412833
19,Islington,E09000019,92516.5,94342.4,93465.9,93344.5,94346.4,97428.9,98976.1,98951.2,...,651932,642190,630653,641492,656971,683189,699403,690561,678373,653891
20,Kensington & Chelsea,E09000020,182695,182345,182879,184177,191474,197266,197963,198037,...,1.34412e+06,1.36651e+06,1.35341e+06,1.30097e+06,1.32105e+06,1.34188e+06,1.35849e+06,1.32773e+06,1.32886e+06,1.28864e+06
21,Kingston upon Thames,E09000021,80875.8,81230.1,81111.5,81672.8,82123.5,82205.7,82525.8,83342.8,...,486392,486367,482372,478540,484775,496858,504168,506416,507485,508800
22,Lambeth,E09000022,67771,65381.5,66336.5,66388.8,69035.1,68881.2,69608.7,68840,...,514006,503116,513274,520303,538635,538377,546081,547637,550638,548660
23,Lewisham,E09000023,60491.3,60869.3,60288,59471,58551.4,58041.4,58126.4,58151.3,...,412505,412995,416638,422939,422336,421827,428732,435848,443410,447783
24,Merton,E09000024,82070.6,79982.7,80661.7,79990.5,80874,80704.9,81055.9,80781.1,...,513961,511327,515916,519174,524383,525725,528373,547502,561239,565213
25,Newham,E09000025,53539.3,53153.9,53458.3,54479.8,55804,56067.8,55458.3,54709.4,...,366990,360609,363515,371624,375328,374028,372021,376948,379818,382752
26,Redbridge,E09000026,72189.6,72141.6,72501.4,72228.6,72366.6,72279.4,72880.8,73275.2,...,420539,419057,418540,412781,417394,421544,429130,433503,442150,445546
27,Richmond upon Thames,E09000027,109326,111103,107325,106875,107708,112865,114657,112320,...,654949,665144,688187,701625,695228,692518,689645,691714,698209,709148
28,Southwark,E09000028,67885.2,64799.1,65763.3,63073.6,64420.5,64155.8,67024.7,65525.9,...,496620,500245,516452,509473,508674,504102,510956,517235,528463,519142
29,Sutton,E09000029,71537,70893.2,70306.8,69411.9,69759.2,70125.2,70789.6,69958.4,...,375195,376824,371896,371088,373184,378128,383266,387598,393119,398639
30,Tower Hamlets,E09000030,59865.2,62318.5,63938.7,66233.2,66432.9,66232.2,64692.2,63472.3,...,480145,470444,460079,445197,444565,451450,465480,476195,477833,471445
31,Waltham Forest,E09000031,61319.4,60252.1,60871.1,60971.4,61494.2,61547.8,61933.5,61916.4,...,436487,440821,444103,447790,443867,451093,456762,467254,472656,485676
32,Wandsworth,E09000032,88559,88641,87124.8,87026,86518.1,88114.3,89830.6,90560.7,...,609325,612598,607048,596641,597441,615174,633607,629965,627822,618531
33,Westminster,E09000033,133025,131468,132260,133370,133911,134562,133450,136582,...,1.00666e+06,1.02679e+06,944550,957831,917264,979523,948242,921341,925569,930070
34,Unnamed: 34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Inner London,E13000001,78252,75885.7,76591.6,76851.6,79129.2,79969.2,80550.5,80597.6,...,583041,581017,577820,576729,579694,588197,596619,597660,600909,594749
36,Outer London,E13000002,72958.8,72937.9,72714.5,72591.9,72753,73189.4,73665.9,73691.1,...,425232,425810,425045,423808,426273,431030,435903,439931,444806,447187
37,Unnamed: 37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NORTH EAST,E12000001,42076.4,42572,42369.7,42095.8,43266.5,42315.3,43287.7,41899.1,...,128335,123259,127066,128964,130808,131551,136367,136649,138460,141154
39,NORTH WEST,E12000002,43958.5,43925.4,44434.9,44267.8,44223.6,44113,44109.6,44193.7,...,166676,163863,164234,168963,171215,174160,175549,179182,179328,183727
40,YORKS & THE HUMBER,E12000003,44803.4,44528.8,45200.5,45614.3,44831,45392.6,45535,45111.5,...,165486,160235,164927,168096,169204,171888,173104,176865,180836,182907
41,EAST MIDLANDS,E12000004,45544.5,46051.6,45383.8,46124.2,45878,45680,46037.7,45922.5,...,196012,196252,194742,199049,200701,201780,204081,207207,209283,215046
42,WEST MIDLANDS,E12000005,48527.5,49341.3,49442.2,49455.9,50369.7,50100.4,49860,49598.5,...,199894,195119,198336,202038,203670,205646,209013,211190,212822,216950
43,EAST OF ENGLAND,E12000006,56701.6,56593.6,56171.2,56567.9,56479.8,56288.9,57242.3,56732.4,...,288815,290855,290097,291578,292738,297411,303490,303231,303748,310912
44,LONDON,E12000007,74435.8,72777.9,73896.8,74455.3,75432,75606.2,75984.2,75529.3,...,482523,475226,470394,478922,483146,488298,496982,492471,501488,496066
45,SOUTH EAST,E12000008,64018.9,63715,64113.6,64623.2,64530.4,65511,65224.9,64851.6,...,323681,324559,321421,322172,325886,330317,335880,337301,340638,341007
46,SOUTH WEST,E12000009,54705.2,54356.1,53583.1,54786,54698.8,54420.2,54265.9,54365.7,...,259746,256591,255487,259493,264554,265779,273130,275010,276115,282388
47,Unnamed: 47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,England,E92000001,53202.8,53096.2,53201.3,53590.9,53678.2,53735.2,53900.6,53600.3,...,249403,246476,247025,250851,253482,256442,260731,262880,265268,269150

In [8]:
properties_T.head()

,0,1,2,3,4,5,6,7,8,9,...,303,304,305,306,307,308,309,310,311,312
Unnamed: 0,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,1995-09-01 00:00:00,...,2020-03-01 00:00:00,2020-04-01 00:00:00,2020-05-01 00:00:00,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00
City of London,E09000001,91449,82202.8,79120.7,77101.2,84409.1,94900.5,110128,112329,104473,...,836241,920444,918209,882872,786627,798227,774654,813356,788715,784006
Barking & Dagenham,E09000002,50460.2,51085.8,51269,53133.5,53042.2,53700.3,52113.1,52232.2,51471.6,...,301413,293603,293816,300526,304556,304336,302165,305197,306987,317947
Barnet,E09000003,93284.5,93190.2,92247.5,90762.9,90258,90107.2,91441.2,92361.3,93273.1,...,522115,526689,526033,518175,523280,527952,536177,534081,535055,534719
Bexley,E09000004,64958.1,64787.9,64367.5,64277.7,63997.1,64252.3,63722.7,64432.6,64509.5,...,339182,341553,339353,340893,344091,346997,345829,346656,350585,354466

In [9]:
properties_T.columns

RangeIndex(start=0, stop=313, step=1)

In [10]:
properties_T.iloc[[0]]

,0,1,2,3,4,5,6,7,8,9,...,303,304,305,306,307,308,309,310,311,312
Unnamed: 0,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,1995-09-01 00:00:00,...,2020-03-01 00:00:00,2020-04-01 00:00:00,2020-05-01 00:00:00,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00

In [11]:
properties_T.columns = properties_T.iloc[0]

In [12]:
properties_T.head()

Unnamed: 0,NaT,1995-01-01,1995-02-01,1995-03-01,1995-04-01,1995-05-01,1995-06-01,1995-07-01,1995-08-01,1995-09-01,...,2020-03-01,2020-04-01,2020-05-01,2020-06-01,2020-07-01,2020-08-01,2020-09-01,2020-10-01,2020-11-01,2020-12-01
Unnamed: 0,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,1995-09-01 00:00:00,...,2020-03-01 00:00:00,2020-04-01 00:00:00,2020-05-01 00:00:00,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00
City of London,E09000001,91449,82202.8,79120.7,77101.2,84409.1,94900.5,110128,112329,104473,...,836241,920444,918209,882872,786627,798227,774654,813356,788715,784006
Barking & Dagenham,E09000002,50460.2,51085.8,51269,53133.5,53042.2,53700.3,52113.1,52232.2,51471.6,...,301413,293603,293816,300526,304556,304336,302165,305197,306987,317947
Barnet,E09000003,93284.5,93190.2,92247.5,90762.9,90258,90107.2,91441.2,92361.3,93273.1,...,522115,526689,526033,518175,523280,527952,536177,534081,535055,534719
Bexley,E09000004,64958.1,64787.9,64367.5,64277.7,63997.1,64252.3,63722.7,64432.6,64509.5,...,339182,341553,339353,340893,344091,346997,345829,346656,350585,354466

In [13]:
properties_T2 = properties_T.drop(index=['Unnamed: 0'], axis=0)

In [14]:
properties_T2.head()

Unnamed: 0,NaT,1995-01-01,1995-02-01,1995-03-01,1995-04-01,1995-05-01,1995-06-01,1995-07-01,1995-08-01,1995-09-01,...,2020-03-01,2020-04-01,2020-05-01,2020-06-01,2020-07-01,2020-08-01,2020-09-01,2020-10-01,2020-11-01,2020-12-01
City of London,E09000001,91449,82202.8,79120.7,77101.2,84409.1,94900.5,110128,112329,104473,...,836241,920444,918209,882872,786627,798227,774654,813356,788715,784006
Barking & Dagenham,E09000002,50460.2,51085.8,51269,53133.5,53042.2,53700.3,52113.1,52232.2,51471.6,...,301413,293603,293816,300526,304556,304336,302165,305197,306987,317947
Barnet,E09000003,93284.5,93190.2,92247.5,90762.9,90258,90107.2,91441.2,92361.3,93273.1,...,522115,526689,526033,518175,523280,527952,536177,534081,535055,534719
Bexley,E09000004,64958.1,64787.9,64367.5,64277.7,63997.1,64252.3,63722.7,64432.6,64509.5,...,339182,341553,339353,340893,344091,346997,345829,346656,350585,354466
Brent,E09000005,71306.6,72022.3,72015.8,72965.6,73704,74310.5,74127,73547,73789.5,...,466250,470601,482808,484160,482303,493930,519117,523644,517569,496316

**2.3. Cleaning the data (part 2)**

You might we have to **rename** a couple columns. How do you do this? The clue's pretty bold...

In [15]:
properties_T2.rename(columns = {'Unnamed: 0':'London_Borough', pd.NaT: 'ID'})

Unnamed: 0,ID,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,1995-09-01 00:00:00,...,2020-03-01 00:00:00,2020-04-01 00:00:00,2020-05-01 00:00:00,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00
City of London,E09000001,91449,82202.8,79120.7,77101.2,84409.1,94900.5,110128,112329,104473,...,836241,920444,918209,882872,786627,798227,774654,813356,788715,784006
Barking & Dagenham,E09000002,50460.2,51085.8,51269,53133.5,53042.2,53700.3,52113.1,52232.2,51471.6,...,301413,293603,293816,300526,304556,304336,302165,305197,306987,317947
Barnet,E09000003,93284.5,93190.2,92247.5,90762.9,90258,90107.2,91441.2,92361.3,93273.1,...,522115,526689,526033,518175,523280,527952,536177,534081,535055,534719
Bexley,E09000004,64958.1,64787.9,64367.5,64277.7,63997.1,64252.3,63722.7,64432.6,64509.5,...,339182,341553,339353,340893,344091,346997,345829,346656,350585,354466
Brent,E09000005,71306.6,72022.3,72015.8,72965.6,73704,74310.5,74127,73547,73789.5,...,466250,470601,482808,484160,482303,493930,519117,523644,517569,496316
Bromley,E09000006,81671.5,81657.6,81449.3,81124.4,81542.6,82382.8,82898.5,82054.4,81440.4,...,432310,433426,425300,425444,428557,434772,437819,444315,455142,460361
Camden,E09000007,120933,119509,120282,120098,119929,121887,124028,125530,120597,...,854443,862077,855338,837719,807904,821008,831949,831262,837089,803908
Croydon,E09000008,69158.2,68951.1,68712.4,68610,68844.9,69052.5,69142.5,68993.4,69393.5,...,371007,370032,373805,372414,377278,374219,377411,378109,381069,383293
Ealing,E09000009,79885.9,80897.1,81379.9,82188.9,82077.1,81630.7,82352.2,82706.7,82011.1,...,480330,480314,473283,463424,466117,480947,491026,495809,507206,501051
Enfield,E09000010,72514.7,73155.2,72190.4,71442.9,70630.8,71348.3,71837.5,72237.9,71725.2,...,392339,395240,391460,385347,386065,395742,399368,406920,405551,415126
Greenwich,E09000011,62300.1,60993.3,61377.8,61927.7,63513,64751.6,65486.3,65076.4,63996.8,...,394446,395917,392507,387218,386101,388910,402502,405525,410901,407938
Hackney,E09000012,61296.5,63187.1,63593.3,65139.6,66194,66921.2,68390.8,68096.8,68752.5,...,578130,579285,576964,571464,584128,581649,607335,594457,598970,623031
Hammersmith & Fulham,E09000013,124903,122088,120636,121425,124434,126175,124382,123625,123094,...,717721,698951,680111,718768,748437,754010,741998,724627,740179,717300
Haringey,E09000014,76287.6,78901.2,78521.9,79545.6,79374,79956.4,80746.3,81217.7,82142.9,...,543929,544722,549865,546376,547778,567755,572724,589123,584696,568561
Harrow,E09000015,84769.5,83396.1,83416.2,83567.9,83853.7,84173.2,84226.7,84430.6,83607,...,450484,451482,445417,441942,445805,453380,457262,461770,468583,472369
Havering,E09000016,68000.1,69393.5,69368,69444.3,68534.5,68464.6,68680.8,69023.4,68108.2,...,365418,369485,367940,371148,373192,374436,372917,372006,376315,382490
Hillingdon,E09000017,73834.8,75031.1,74188.7,73911.4,73117.1,74005,74671.1,74967.9,73843.6,...,409234,403517,407142,403039,408573,409842,412594,418393,421247,419504
Hounslow,E09000018,72231.7,71051.6,72098,71890.3,72877.5,72331.1,73717.8,74479.9,74426.7,...,409444,401334,396578,394693,394813,409150,417450,421789,426169,412833
Islington,E09000019,92516.5,94342.4,93465.9,93344.5,94346.4,97428.9,98976.1,98951.2,99582.6,...,651932,642190,630653,641492,656971,683189,699403,690561,678373,653891
Kensington & Chelsea,E09000020,182695,182345,182879,184177,191474,197266,197963,198037,197048,...,1.34412e+06,1.36651e+06,1.35341e+06,1.30097e+06,1.32105e+06,1.34188e+06,1.35849e+06,1.32773e+06,1.32886e+06,1.28864e+06
Kingston upon Thames,E09000021,80875.8,81230.1,81111.5,81672.8,82123.5,82205.7,82525.8,83342.8,85111,...,486392,486367,482372,478540,484775,496858,504168,506416,507485,508800
Lambeth,E09000022,67771,65381.5,66336.5,66388.8,69035.1,68881.2,69608.7,68840,70155.8,...,514006,503116,513274,520303,538635,538377,546081,547637,550638,548660
Lewisham,E09000023,60491.3,60869.3,60288,59471,58551.4,58041.4,58126.4,58151.3,58743,...,412505,412995,416638,422939,422336,421827,428732,435848,443410,447783
Merton,E09000024,82070.6,79982.7,80661.7,79990.5,80874,80704.9,81055.9,80781.1,80824.7,...,513961,511327,515916,519174,524383,525725,528373,547502,561239,565213
Newham,E09000025,53539.3,53153.9,53458.3,54479.8,55804,56067.8,55458.3,54709.4,54585.5,...,366990,360609,363515,371624,375328,374028,372021,376948,379818,382752
Redbridge,E09000026,72189.6,72141.6,72501.4,72228.6,72366.6,72279.4,72880.8,73275.2,73204,...,420539,419057,418540,412781,417394,421544,429130,433503,442150,445546
Richmond upon Thames,E09000027,109326,111103,107325,106875,107708,112865,114657,112320,110425,...,654949,665144,688187,701625,695228,692518,689645,691714,698209,709148
Southwark,E09000028,67885.2,64799.1,65763.3,63073.6,64420.5,64155.8,67024.7,65525.9,63467,...,496620,500245,516452,509473,508674,504102,510956,517235,528463,519142
Sutton,E09000029,71537,70893.2,70306.8,69411.9,69759.2,70125.2,70789.6,69958.4,69937.4,...,375195,376824,371896,371088,373184,378128,383266,387598,393119,398639
Tower Hamlets,E09000030,59865.2,62318.5,63938.7,66233.2,66432.9,66232.2,64692.2,63472.3,62177.6,...,480145,470444,460079,445197,444565,451450,465480,476195,477833,471445
Waltham Forest,E09000031,61319.4,60252.1,60871.1,60971.4,61494.2,61547.8,61933.5,61916.4,61548.2,...,436487,440821,444103,447790,443867,451093,456762,467254,472656,485676
Wandsworth,E09000032,88559,88641,87124.8,87026,86518.1,88114.3,89830.6,90560.7,91373.7,...,609325,612598,607048,596641,597441,615174,633607,629965,627822,618531
Westminster,E09000033,133025,131468,132260,133370,133911,134562,133450,136582,135993,...,1.00666e+06,1.02679e+06,944550,957831,917264,979523,948242,921341,925569,930070
Unnamed: 34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Inner London,E13000001,78252,75885.7,76591.6,76851.6,79129.2,79969.2,80550.5,80597.6,80402.9,...,583041,581017,577820,576729,579694,588197,596619,597660,600909,594749
Outer London,E13000002,72958.8,72937.9,72714.5,72591.9,72753,73189.4,73665.9,73691.1,73454.4,...,425232,425810,425045,423808,426273,431030,435903,439931,444806,447187
Unnamed: 37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NORTH EAST,E12000001,42076.4,42572,42369.7,42095.8,43266.5,42315.3,43287.7,41899.1,41850.9,...,128335,123259,127066,128964,130808,131551,136367,136649,138460,141154
NORTH WEST,E12000002,43958.5,43925.4,44434.9,44267.8,44223.6,44113,44109.6,44193.7,44088.1,...,166676,163863,164234,168963,171215,174160,175549,179182,179328,183727
YORKS & THE HUMBER,E12000003,44803.4,44528.8,45200.5,45614.3,44831,45392.6,45535,45111.5,44837.9,...,165486,160235,164927,168096,169204,171888,173104,176865,180836,182907
EAST MIDLANDS,E12000004,45544.5,46051.6,45383.8,46124.2,45878,45680,46037.7,45922.5,45771.7,...,196012,196252,194742,199049,200701,201780,204081,207207,209283,215046
WEST MIDLANDS,E12000005,48527.5,49341.3,49442.2,49455.9,50369.7,50100.4,49860,49598.5,49319.7,...,199894,195119,198336,202038,203670,205646,209013,211190,212822,216950
EAST OF ENGLAND,E12000006,56701.6,56593.6,56171.2,56567.9,56479.8,56288.9,57242.3,56732.4,56259.3,...,288815,290855,290097,291578,292738,297411,303490,303231,303748,310912
LONDON,E12000007,74435.8,72777.9,73896.8,74455.3,75432,75606.2,75984.2,75529.3,74940.8,...,482523,475226,470394,478922,483146,488298,496982,492471,501488,496066
SOUTH EAST,E12000008,64018.9,63715,64113.6,64623.2,64530.4,65511,65224.9,64851.6,64352.5,...,323681,324559,321421,322172,325886,330317,335880,337301,340638,341007
SOUTH WEST,E12000009,54705.2,54356.1,53583.1,54786,54698.8,54420.2,54265.9,54365.7,54244,...,259746,256591,255487,259493,264554,265779,273130,275010,276115,282388
Unnamed: 47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
England,E92000001,53202.8,53096.2,53201.3,53590.9,53678.2,53735.2,53900.6,53600.3,53309.2,...,249403,246476,247025,250851,253482,256442,260731,262880,265268,269150

In [16]:
properties_T2.columns

DatetimeIndex([       'NaT', '1995-01-01', '1995-02-01', '1995-03-01',
               '1995-04-01', '1995-05-01', '1995-06-01', '1995-07-01',
               '1995-08-01', '1995-09-01',
               ...
               '2020-03-01', '2020-04-01', '2020-05-01', '2020-06-01',
               '2020-07-01', '2020-08-01', '2020-09-01', '2020-10-01',
               '2020-11-01', '2020-12-01'],
              dtype='datetime64[ns]', name='Unnamed: 0', length=313, freq=None)

**2.4.Transforming the data**

Remember what Wes McKinney said about tidy data? 

You might need to **melt** your DataFrame here.

In [17]:
clean_properties = pd.melt(properties_T2, id_vars = ['London_Borough', 'ID'])

KeyError: "The following 'id_vars' are not present in the DataFrame: ['ID', 'London_Borough']"

In [ ]:
clean_properties.head()

In [ ]:
clean_properties = clean_properties.rename(columns = {0: 'Month', 'value': 'Average_price'})

Remember to make sure your column data types are all correct. Average prices, for example, should be floating point numbers...

In [ ]:
clean_properties['Average_price'] = pd.to_numeric(clean_properties['Average_price'])

In [ ]:
clean_properties.dtypes

**2.5. Cleaning the data (part 3)**

Do we have an equal number of observations in the ID, Average Price, Month, and London Borough columns? Remember that there are only 32 London Boroughs. How many entries do you have in that column? 

Check out the contents of the London Borough column, and if you find null values, get rid of them however you see fit.

**2.6. Visualizing the data**

To visualize the data, why not subset on a particular London Borough? Maybe do a line plot of Month against Average Price?

To limit the number of data points you have, you might want to extract the year from every month value your *Month* column. 

To this end, you *could* apply a ***lambda function***. Your logic could work as follows:
1. look through the `Month` column
2. extract the year from each individual value in that column 
3. store that corresponding year as separate column. 

Whether you go ahead with this is up to you. Just so long as you answer our initial brief: which boroughs of London have seen the greatest house price increase, on average, over the past two decades?

**3. Modeling**

Consider creating a function that will calculate a ratio of house prices, comparing the price of a house in 2018 to the price in 1998.

Consider calling this function create_price_ratio.

You'd want this function to:
1. Take a filter of dfg, specifically where this filter constrains the London_Borough, as an argument. For example, one admissible argument should be: dfg[dfg['London_Borough']=='Camden'].
2. Get the Average Price for that Borough, for the years 1998 and 2018.
4. Calculate the ratio of the Average Price for 1998 divided by the Average Price for 2018.
5. Return that ratio.

Once you've written this function, you ultimately want to use it to iterate through all the unique London_Boroughs and work out the ratio capturing the difference of house prices between 1998 and 2018.

Bear in mind: you don't have to write a function like this if you don't want to. If you can solve the brief otherwise, then great! 

***Hint***: This section should test the skills you acquired in:
- Python Data Science Toolbox - Part One, all modules

### 4. Conclusion
What can you conclude? Type out your conclusion below. 

Look back at your notebook. Think about how you might summarize what you have done, and prepare a quick presentation on it to your mentor at your next meeting. 

We hope you enjoyed this practical project. It should have consolidated your data hygiene and pandas skills by looking at a real-world problem involving just the kind of dataset you might encounter as a budding data scientist. Congratulations, and looking forward to seeing you at the next step in the course!